.wrapper {
  width: 335px;
  height: 115px;
  border: 2px solid #2a3145c4;
  display: flex;
  border-radius: 12px;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 190px;
  height: 96px;
  margin: 0 15px;
}

.name {
  color: var(--textBlue);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  border-top: 2px dashed #2a3145c4;
  border-left: 2px dashed #2a3145c4;
  border-top-left-radius: 8px;
  height: 55px;
  padding: 5px;
  margin-right: 5px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: var(--textBlue);
  font-size: 23px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.18em;
  text-align: start;

  height: 50px;

  border-bottom: 2px dashed #2a3145c4;
  border-right: 2px dashed #2a3145c4;
  border-bottom-right-radius: 8px;
  padding: 0 5px 5px 5px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5px;
}

.btn:hover {
  background-color: #ff5b19;
}

.btn {
  align-self: center;
  width: 60px;
  height: 60px;
  background-color: #ff692e;
  position: relative;
  font-size: 14px;
  color: #ffffffea;
  text-shadow: 1.3px 1.3px 1.5px rgba(0, 0, 0, 0.749);

  padding: 10px;
  border: solid 1px #00000041;
  border-top: none;
  border-left: none;
  border-radius: 50%;
  margin: 20px;

  box-shadow: 1.3px 1.3px 5px 1px rgba(0, 0, 0, 0.5),
    inset 0 0 0 0 rgba(0, 0, 0, 0);

  transition: box-shadow 90ms cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 90ms cubic-bezier(0.645, 0.045, 0.355, 1),
    border 90ms cubic-bezier(0.645, 0.045, 0.355, 1);

  &.btn::before {
    background-color: hsl(213, 10%, 90%);
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: -10px;
    top: -10px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff,
      -6px -6px 6px 0px rgb(255 255 255 / 55%);
    transition: background-color 90ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 190ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.btn:active {
  /* background-color: #2a3145; */
  background-color: #db3e00;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.38),
    inset 2px 2px 4px -2px rgb(0, 0, 0);
  border-color: transparent;
  text-shadow: 1px 1px 1.1px rgba(0, 0, 0, 0.749);

  &.btn::before {
    background-color: hsl(213, 10%, 88%);
    box-shadow: inset 1px 2px 2px #909193, 0px 1px 0px #fff;
  }
}
