.activeGreen {
  transition: background-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
  &.activeGreen:active {
    background-color: hsla(147.7, 80%, 34.1%, 0.685);
  }
}

.activeRed {
  transition: background-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
  &.activeRed:active {
    background-color: hsl(0, 79%, 44%);
  }
}

.activeNeutral {
  transition: background-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
  &.activeNeutral:active {
    background-color: #afafaf;
  }
}

.activeReset {
  transition: background-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
  &.activeReset:active {
    background-color: hsla(210, 80%, 45%, 0.985);
  }
}
